{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "eslint-plugin-tsdoc", "jsdoc"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:jsdoc/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-parameter-properties": 0,
    "@typescript-eslint/no-unused-vars": [
      2,
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^ignored?$" }
    ],
    "jsdoc/require-jsdoc": [
      "error",
      {
        "require": {
          "ArrowFunctionExpression": false,
          "ClassDeclaration": true,
          "ClassExpression": true,
          "FunctionDeclaration": true,
          "FunctionExpression": true,
          "MethodDefinition": true
        },
        "publicOnly": false
      }
    ],
    "jsdoc/require-param-type": 0,
    "jsdoc/require-returns-type": 0,
    "tsdoc/syntax": "warn"
  }
}
